# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# React Native / Expo
# =========================
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Metro
frontend/.metro-health-check*

# Native build folders
frontend/android/
frontend/ios/

# Expo build files
frontend/*.apk
frontend/*.aab

# =========================
# Backend
# =========================
backend/node_modules/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/
.idea/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Security Files
# =========================
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Misc
# =========================
.kotlin/
*.orig.*